<h1>Créer une nouvelle recette</h1>

<form [formGroup]="myForm" novalidate #form="ngForm">

  <div class="form-group">
    <label>Nom</label>
    <input formControlName="nom" type="text" placeholder="Baba au rhum">
    <small *ngIf="!myForm.controls.nom.valid" class="text-danger">
      Le nom doit contenir au moins 2 caractères.
    </small>
  </div>

  <fieldset>
    <legend>Informations générales</legend>

    <div class="form-group row">
        <label class="col-sm-2">Nombre de parts</label>
        <input formControlName="quantite" type="number" class="col-sm-2" placeholder="0">
        <small *ngIf="!myForm.controls.quantite.valid" class="text-danger">
          Veuillez entrer une valeur supérieur ou égale à 0.
        </small>
        <select class="col-sm-2" formControlName="label">
          <option [ngValue]="'PERSONNES'">Personne(s)</option>
          <option [ngValue]="'POTS'">Pot(s)</option>
          <option [ngValue]="'GÂTEAUX'">Gâteau(x)</option>
        </select>
        <small *ngIf="!myForm.controls.quantite.valid || !myForm.controls.label.valid" class="text-danger">
          Les 2 champs doivent être rempli.
        </small>
    </div>

  <div class="form-group">
    <label>Temps de préparation</label>
    <input type="number" formControlName="preparation" placeholder="45">
    <small class="form-text text-muted">Temps en minutes.</small>
    <small *ngIf="!myForm.controls.preparation.valid" class="text-danger">
      Veuillez entrer une valeur supérieur ou égale à 0.
    </small>
  </div>
  <div class="form-group">
    <label>Temps de cuisson</label>
    <input type="number" formControlName="cuisson" placeholder="45">
    <small class="form-text text-muted">Temps en minutes.</small>
    <small *ngIf="!myForm.controls.cuisson.valid" class="text-danger">
      Veuillez entrer une valeur supérieur ou égale à 0.
    </small>
  </div>
  <div class="form-group">
    <label>Classement</label>
    <div>
      <div class="form-check form-check-inline">
        <input formControlName="classement" class="form-check-input" type="radio" id="classement1" value="1">
        <label class="form-check-label" for="classement1">Bof</label>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="classement" class="form-check-input" type="radio" id="classement2" value="2">
        <label class="form-check-label" for="classement2">Ça pourrait être mieux avec...</label>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="classement" class="form-check-input" type="radio" id="classement3" value="3">
        <label class="form-check-label" for="classement3">C'est pas mal</label>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="classement" class="form-check-input" type="radio" id="classement4" value="4">
        <label class="form-check-label" for="classement4">À refaire absolument</label>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="classement" class="form-check-input" type="radio" id="classement5" value="5">
        <label class="form-check-label" for="classement5">J'en veux tous les jours</label>
      </div>
      <small *ngIf="!myForm.controls.classement.valid" class="text-danger">
        Veuillez sélectionner une des valeurs précédentes.
      </small>
    </div>
  </div>
    <div class="form-group">
      <label>Statut</label>
      <div>
        <div class="form-check form-check-inline">
          <input formControlName="statut" class="form-check-input" type="radio" id="statut1" value="SECRET">
          <label class="form-check-label" for="statut1">Secret</label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="statut" class="form-check-input" type="radio" id="statut2" value="PARTAGE">
          <label class="form-check-label" for="statut2">Partagée</label>
        </div>
        <small *ngIf="!myForm.controls.statut.valid" class="text-danger">
          Veuillez sélectionner une des valeurs précédentes.
        </small>
      </div>
  </div>
</fieldset>

<!-- liste d'ingrédients -->
  <fieldset>
    <legend>Ingrédients</legend>
    <ng-container formArrayName="ingredients">
      <div *ngFor="let ingredient of ingredients.controls; let i=index">
        <ng-container [formGroupName]="i">
          <div class="row">
            <input type="text" formControlName="quantite" placeholder="250g">
            <input type="text" formControlName="nom" placeholder="chocolat">
            <div *ngIf="ingredients.length > 1"><button (click)="removeIngredient(i)">Supprimer</button></div>
          </div>
          <small *ngIf="!ingredient.valid" class="text-danger">
            Les 2 champs doivent être rempli.
          </small>
        </ng-container>

      </div>
      <button (click)="addIngredient()">Ajouter un ingrédient</button>
    </ng-container>
  </fieldset>


<!-- liste d'étapes-->

  <fieldset>
    <legend>Étapes de préparation</legend>
    <ng-container formArrayName="etapes">

      <div *ngFor="let etape of etapes.controls; let i=index">
        <ng-container [formGroupName]="i">
          <div class="row">
            <span>Etape {{i + 1}}</span>
            <textarea rows="4" cols="50" formControlName="texte" #texte placeholder="Écrivez votre texte ici !">
            </textarea>
            <small class="form-text text-muted">{{texte.value.length}} charactères</small>
            <div *ngIf="etapes.length > 1"><button (click)="removeEtape(i)">Supprimer</button></div>
          </div>
          <small *ngIf="!etape.valid" class="text-danger">
            Le texte doit comprendre entre 2 et 250 caractères.
          </small>
        </ng-container>
      </div>
      <button (click)="addEtape()">Ajouter une étape</button>
    </ng-container>

  </fieldset>

  <fieldset>
    <legend>Astuces</legend>
    <ng-container formArrayName="astuces">
      <div *ngFor="let astuce of astuces.controls; let i=index">
        <ng-container [formGroupName]="i">
          <div class="row">
            <span>Astuce {{i + 1}}</span>
            <textarea rows="4" cols="50" formControlName="astuce" #texte placeholder="Écrivez votre astuce ici !">
            </textarea>
            <small class="form-text text-muted">{{texte.value.length}} charactères</small>
            <div><button (click)="removeAstuce(i)">Supprimer</button></div>
          </div>
          <small *ngIf="!astuce.valid" class="text-danger">
            Le texte doit comprendre entre 2 et 250 caractères.
          </small>
        </ng-container>
      </div>
      <button (click)="addAstuce()">Ajouter une astuce</button>
    </ng-container>
  </fieldset>

  <button type="submit" [disabled]="!myForm.valid" (click)="submit()" routerLink="/mes-recettes">Enregistrer</button>
</form>
