<div class="row">
  <div class="col">
    <!--logo, image-->
  </div>
  <div class="col">
    <h1>Mon carnet gourmant</h1>

    <h6>Authentification</h6>
    <form class="auth">
      <div class="form-group">
        <label for="pseudo">Pseudo :</label>
        <input type="text" class="form-control" id="exempleInputPseudo" [(ngModel)]="utilisateur.pseudo"
        name="pseudo" aria-describedby="pseudoHelp">
      </div>
      <div class="form-group">
        <label for="motDePasse">Mot de passe :</label>
        <input type="password" class="form-control" id="exempleInputMdp" [(ngModel)]="utilisateur.motDePasse"
        name="motDePasse" aria-describedby="mdpHelp">
      </div>
      <div *ngIf="err" class="alert alert-danger mt-1" role="alert">
        Vos informations d'authentification sont invalides.
      </div>
      <button type="submit" class="btn btn-primary" (click)="connecter()">Se
        connecter</button>
    </form>

    <p class="nouvCompte">Pas encore de compte ?</p><button type="button" class="btn nouvCompte" name="nouvCompte">Créer un compte</button>


  </div>
</div>
