<div class="row navbar navbar-expand-lg mb-3">
  <a class="navbar-brand" routerLink="/accueil">Accueil</a>

  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/mes-recettes" (click)="isMenuCollapsed = true">Mes recettes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recettes-partagees" (click)="isMenuCollapsed = true">Recettes partagées</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/conseils" (click)="isMenuCollapsed = true">Conseils culinaires</a>
      </li>
    </ul>
    <div>
      <p><i class="fa fa-power-off pointer" (click)="seDeconnecter()" id="deco"
        ngbTooltip="Déconnection"></i></p>
    </div>
  </div>
</div>
