<div class="titre">
    <h1>Mon carnet gourmant</h1>
    <div>
      <p class="deconnexion">Bienvenue ! <i class="fa fa-power-off pointer" (click)="seDeconnecter()" id="deco"
        ngbTooltip="Déconnexion"></i></p>
    </div>

</div>

<div class="row nav">
  <div class="bouton">
    <button class="nav-link" routerLink="/accueil">Accueil</button>
    <button class="nav-link" routerLink="/mes-recettes">Mes recettes</button>
    <button class="nav-link" routerLink="/recettes-partagees">Recettes partagées</button>
    <button class="nav-link" routerLink="/conseils">Conseils culinaires</button>
  </div>



</div>
